name: ci

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 1,4,5"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Auto green
        run: |
          git config --local user.email "kevinclair@apache.org"
          git config --local user.name "KevinClair"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          git commit --allow-empty -m "又是元气满满的一天，啊~~~~~~"
          git push
